    body {
        margin: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
    }
    
    canvas {
        position: absolute;
    }
    
    img {
        position: absolute;
    }
    
    .ui-dialog-content,
    .ui-widget-content {
        width: 500px !important;
    }
    
    .average {
        color: red;
    }
    
    .cadre {
        border: 5px solid black;
        width: 200px;
        height: 200px;
        display: inline-block;
        box-shadow: inset black 0 0 10px;
        background-color: white;
    }